<style>

#refernces-box {
  position: fixed;
  bottom: 30px;  
  text-align: left;
}

.close {
  padding:10px;
}

.completeness-charts {
  /*width:350px;*/
  padding: 0 6px 8px;
}
.completeness-charts h3, .completeness-charts h4 {
  margin: 8px 0;
  text-align: left;
  padding: 0 6px 8px;
}

.chart-view { height: 200px; }
.chart-holder {
  position: relative;
  width: 100%;
  min-height: 200px;
}

.modal-body .row { margin: 0 0 20px 0; }
.region-data-holder {
  position: relative;
  min-height: 400px;
  height: 100%;
}
.metric { position: relative; text-align: center; }
.metric-value {
  position: relative;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: rgba(149, 165, 166, 0.5);
  color: #555;
  text-align: center;
  padding-top: 28px;
  margin: 0 auto;
}
.metric-value.slideup { position: relative; }
.metric-value-avi { background-color: rgba(149, 165, 166, 0.5); color: #555; }
.metric-value-tsc { background-color: rgba(149, 165, 166, 0.5); color: #555; }
.metric-value-tgc { background-color: rgba(149, 165, 166, 0.5); color: #555; }
.metric-value-rank { background-color: rgba(149, 165, 166, 0.5); color: #555; }

</style>


<div class="side-wrapper">
  <!-- global metrics -->

  <div class="info-boxes">

     <div ng-show="!model.availableTaxa && (model.alerts.length == 0 )">
       <h4><i class="fa fa-refresh fa-spin fa-fw"></i> Loading available species groups...</h4>
     </div>


     <!-- system messages -->
     <div style="text-align: left">
       <uib-alert ng-repeat="alert in model.alerts"
        type="{{alert.type}}" ng-bind-html="alert.msg"></uib-alert>
     </div>
     <!-- end system messages -->


     <div class="animate-if" ng-if="model.availableTaxa">

       <div class="form-horizontal taxa-info">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">Species groups: </div>
            <select
               class="form-control selectpicker"
               ng-model="model.selectedMapTaxa"
               ng-options="taxa.title group by taxa.groupby for taxa in model.availableTaxa | removeWith:{ taxa: 'reptiles' } track by taxa.taxa"></select>
          </div>
        </div>
        <div class="form-group" style="margin-top: 8px;">
          <div class="well well-sm">
              <h5 class="pull-left">Pattern type</h5>
              <div class="btn-group">
                <label class="btn btn-sm btn-default" 
                  ng-model="model.currPattern" 
                  ng-disabled="model.rarityAvailable && pat.type != 'sr'" 
                  ng-repeat="pat in model.availablePatterns track by $index"
                  uib-btn-radio="pat" 
                  uncheckable>{{ pat.name }}</label>
              </div>
              </div>
        </div>
       </div>
       <hr />

     </div> <!-- end-if model.availableTaxa -->

     <!-- references -->
     <div id="refernces-box" class="animate-if" ng-if="model.availableTaxa">
      <!-- <p ng-if="model.selectedMapTaxa.taxa != 'fishes'">For data sources, see <em>Expert range maps</em> in <a href="https://mol.org/datasets/?dt=range">MOL Datasets</a> page.</p>
      <p ng-if="model.selectedMapTaxa.taxa == 'fishes'"><a target="blank" href="http://coru.oceans.ubc.ca/">Ocean Research Unit</a> (CORU). Institute for the Oceans and Fisheries. University of British Columbia.</p> -->
      <p ng-bind-html="(model.references | where:{taxa: model.selectedMapTaxa.taxa} | first).source || model.references.default"></p>
     </div>

  </div>

  <!-- end global metrics -->

</div>
