<div class="bg">


  <div class="container padded-bottom">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="row">
      <div class="col-md-12 well page-title">
        <h1>Biodiversity Patterns</h1>
      </div>
    </div>

    <section>
      <div class="item-container">
        <div class="row">

          <!-- start data coverage tool item -->
          <div class="col-md-4">
            <div class="tool-item">
              <div class="tool-hero">
                <img src="static/app/img/tiles/grid_sr.png" />
              </div>
              <div class="tool-title">
                <h3>
                  <a ui-sref="patterns.expert" ui-sref-options="{inherit:false}" ui-sref-opts="{reload:true, notify:true, absolute: true}">Species Richness and Rarity</a>
                </h3>
              </div>
              <div class="tool-info">
                <p>View species richness and rarity patterns</p>
              </div>
              <div class="tool-start">
                <a class="btn btn-primary" ui-sref="patterns.expert" ui-sref-options="{inherit:false}" ui-sref-opts="{reload:true, notify:true, absolute: true}">Explore</a>
              </div>
              <div class="banner-beta">Beta</div>
            </div>
          </div>
          <!-- end data coverage tool item -->

          <!-- start biodiversity facets tool item -->
          <div class="col-md-4">
            <div class="tool-item comingsoon">
              <div class="tool-hero">
                <img src="static/app/img/tiles/grid_bf.png" />
              </div>
              <div class="tool-title">
                <h3>
                  <a ui-sref="patterns.facets" ui-sref-options="{inherit:false}" ui-sref-opts="{reload:true, notify:true, absolute: true}">Biodiversity Facets</a>
                </h3>
              </div>
              <div class="tool-info">
                <p>View biodiversity facets</p>
              </div>
              <div class="tool-start">
                <a class="btn btn-default" ui-sref="patterns.facets" ui-sref-options="{inherit:false}" ui-sref-opts="{reload:true, notify:true, absolute: true}">Explore</a>
              </div>
              <div class="banner-beta">Beta</div>
            </div>
          </div>
          <!-- end biodiversity facets tool item -->


          <!-- start habitat coverage tool item -->
          <!--
                <div class="col-md-4">
                    <div class="tool-item comingsoon">
                        <div class="tool-hero">
                            <img src="//species.mol.org/app/img/landing/Jetz289crop.jpg" />
                        </div>
                        <div class="tool-title">
                            <h3>
                                <a href="https://species.mol.org/pa">Species Habitat</a>
                            </h3>
                        </div>
                        <div class="tool-info">
                            <p>Explore species habitat suitability</p>
                        </div>
                        <div class="tool-start">
                            <a class="btn btn-default" href="https://species.mol.org/pa">Explore Preview</a>
                        </div>
                        <div class="banner-soon">Coming soon</div>
                    </div>
                </div>
                -->
          <!-- end habitat coverage tool item -->

          <!-- start reserve coverage tool item -->
          <!--
                <div class="col-md-4">
                    <div class="tool-item comingsoon">
                        <div class="tool-hero">
                            <img src="//species.mol.org/app/img/landing/300.jpg" />
                        </div>
                        <div class="tool-title">
                            <h3>
                                <a href="https://species.mol.org/pa">Species Protection</a>
                            </h3>
                        </div>
                        <div class="tool-info">
                            <p>Explore species reserve gaps</p>
                        </div>
                        <div class="tool-start">
                            <a class="btn btn-default" href="https://species.mol.org/pa">Explore Preview</a>
                        </div>
                        <div class="banner-soon">Coming soon</div>
                    </div>
                </div>
                -->
          <!-- end reserve coverage tool item -->


        </div>
      </div>
    </section>

  </div>


</div>
<!-- bg -->