<div class="container padded-bottom">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="row">
    <div class="col-md-12 well">
      <h1>Species Richness</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <p>
        The maps show species richness patterns for a range of 'species group' – 'region' combinations for which data in Map of Life is data supports this calculation. For data sources, see <em>Expert range maps</em> in <a href="https://mol.org/datasets">MOL Datasets</a>        page. The spatial resolution (pixel size) is the finest that is scientifically sound for this data type (see <a href="http://www.pnas.org/content/104/33/13384.full" target="_blank">Hurlbert &amp; Jetz, PNAS 2007</a>) – higher resolutions would
        overestimate actual richness values.
      </p>

      <p>
        Check back as we are adding more species groups and regions and in the future higher-resolution patterns based on model-driven range predictions.
      </p>

      <hr class="section-divider" />

    </div>
  </div>

</div>