<div class="container padded-bottom">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="row">
    <div class="col-md-12 well">
      <h1>Biodiversity Facets</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <h3>
        Maps accompanying <a href="http://www.nature.com/nature/journal/vaop/ncurrent/full/nature22368.html" target="_blank">Pollock, Thuiller &amp; Jetz (2017): Large conservation gains possible for global biodiversity facets. Nature</a>.
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <h3>
        [marxan]: Maps accompanying <a href="http://rspb.royalsocietypublishing.org/content/284/1865/20170627" target="_blank">Rosauer, Pollock, Linke &amp; Jetz (2017): Phylogenetically informed spatial planning is required to conserve the mammalian tree of life. Proceedings B</a>.
      </h3>
      <ul>
        <li>Global phylo diversity priority [Marxan] indicates the most essential areas to represent global mammal phylogenetic diversity
        with:
        <ul>
          <li>targets for conservation of each unit of diversity based on its geographic range</li>
          <li>total conservation area limited to 10% of world land</li>
        </ul>
      </li>
      <li>Global phylo diversity priority [Marxan] indicates the most essential areas to represent global mammal species diversity
      with:
        <ul>
          <li>targets for conservation of each species based on its geographic range</li>
          <li>total conservation area limited to 10% of world land</li>
        </ul>
      </li>
      </ul>
    </div>
  </div>

  <hr class="section-divider" />

  <h3>Select news coverage:</h3>

  <div class="row background-item">
    <div class="col-md-8">
      <h4 class="featurette-heading">
        <a href="http://www.newyorker.com/tech/elements/conservationists-could-be-saving-more-biodiversity-in-less-space" title="Conservationists Could Be Saving More Biodiversity in Less Space">Conservationists Could Be Saving More Biodiversity in Less Space</a>
        <br />
        <small>May 24, 2017 // by Michelle Nijhuis, The New Yorker</small>
      </h4>
    </div>
  </div>

  <div class="row background-item">
    <div class="col-md-8">
      <h4 class="featurette-heading">
        <a href="http://news.yale.edu/2017/05/25/study-targeted-conservation-could-protect-more-earth-s-biodiversity" title="Study: Targeted conservation could protect more of Earth’s biodiversity">Study: Targeted conservation could protect more of Earth’s biodiversity</a>
        <br />
        <small>May 25, 2017 // by Jim Shelton, Yale News</small>
      </h4>
    </div>
  </div>

  <div class="row background-item">
    <div class="col-md-8">
      <h4 class="featurette-heading">
        <a href="http://www.pbs.org/wgbh/nova/next/nature/protecting-a-little-more-land-could-save-a-lot-more-biodiversity" title="Protecting A Little More Land Could Save A Lot More Biodiversity">Protecting A Little More Land Could Save A Lot More Biodiversity</a>
        <br />
        <small>Jul 10, 2017 // by Will Sullivan, PBS</small>
      </h4>
    </div>
  </div>

  <hr class="section-divider" />

  <h3>Background on data:</h3>

  <div class="row background-item">
    <div class="col-md-8">
      <p class="featurette-heading">
        <a href="https://mol.org/datasets" title="MOL Datasets">MOL Datasets</a>
      </p>
    </div>
  </div>

  <div class="row background-item">
    <div class="col-md-8">
      <p class="featurette-heading">
        <a href="https://vertlife.org" title="VertLife">VertLife</a>
      </p>
    </div>
  </div>

  <div class="row background-item">
    <div class="col-md-8">
      <p class="featurette-heading">
        <a href="https://birdtree.org/" title="A Global Phylogeny of Birds">A Global Phylogeny of Birds</a>
      </p>
    </div>
  </div>

  <div class="row background-item">
    <div class="col-md-8">
      <p class="featurette-heading">
        UNEP-WCMC and IUCN 2017, Protected Planet: The World Database on Protected Areas (WDPA) [On-line], May 2017, Cambridge, UK: UNEP-WCMC and IUCN. Available at:
        <a href="http://www.protectedplanet.net/" title="Protected Planet">www.protectedplanet.net</a>.
      </p>
    </div>
  </div>

  <hr class="section-divider" />

  <h3>Relevant publications:</h3>

  <div class="row background-item">
    <div class="col-md-8 pub">
      <em>Barbet-Massin, M., and W. Jetz. 2015. The effect of range changes on the functional turnover, structure and diversity of bird assemblages under future climate scenarios. Global Change Biology 21:2917–2928.</em>
      <br/>
      <small><a href="http://onlinelibrary.wiley.com/doi/10.1111/gcb.12905/abstract" title="">http://onlinelibrary.wiley.com/doi/10.1111/gcb.12905/abstract</a></small>
    </div>
  </div>

  <div class="row background-item">
    <div class="col-md-8 pub">
      <em>Jarzyna, M. A., and W. Jetz. 2016. Detecting the Multiple Facets of Biodiversity. Trends in Ecology &amp; Evolution 31: 527-538.</em>
      <br/>
      <small><a href="http://www.sciencedirect.com/science/article/pii/S0169534716300222" title="">http://www.sciencedirect.com/science/article/pii/S0169534716300222</a></small>
    </div>
  </div>

  <div class="row background-item">
    <div class="col-md-8 pub">
      <em>Jetz, W., G. H. Thomas, J. B. Joy, K. Hartmann, D. Redding, and A. O. Mooers. 2014. Distribution and conservation of global evolutionary distinctness in birds. Current Biology 24:919-930.</em>
      <br/>
      <small><a href="http://www.cell.com/current-biology/abstract/S0960-9822(14)00270-X" title="">http://www.cell.com/current-biology/abstract/S0960-9822(14)00270-X</a></small>
    </div>
  </div>

  <div class="row background-item">
    <div class="col-md-8 pub">
      <em>Pollock, L. J., D. F. Rosauer, A. H. Thornhill, H. Kujala, M. D. Crisp, J. T. Miller, and M. A. McCarthy. 2015. Phylogenetic diversity meets conservation policy: small areas are key to preserving eucalypt lineages. Philosophical Transactions of the Royal Society of London B: Biological Sciences 370:20140007.</em>
      <br/>
      <small><a href="http://rstb.royalsocietypublishing.org/content/370/1662/20140007" title="">http://rstb.royalsocietypublishing.org/content/370/1662/20140007</a></small>
    </div>
  </div>

  <div class="row background-item">
    <div class="col-md-8 pub">
      <em>Jetz, W., J. M. McPherson, and R. P. Guralnick. 2012. Integrating biodiversity distribution knowledge: toward a global map of life. Trends in Ecology and Evolution 27:151-159.</em>
      <br/>
      <small><a href="http://www.cell.com/trends/ecology-evolution/pdf/S0169-5347(11)00267-9.pdf" title="">http://www.cell.com/trends/ecology-evolution/pdf/S0169-5347(11)00267-9.pdf</a></small>
    </div>
  </div>

  <div class="row background-item">
    <div class="col-md-8 pub">
      <em>Hurlbert, A. H., and W. Jetz. 2007. Species richness, hotspots, and the scale dependence of range maps in ecology and conservation. PNAS 104:13384-13389.</em>
      <br/>
      <small><a href="http://www.pnas.org/content/104/33/13384.full" title="">http://www.pnas.org/content/104/33/13384.full</a></small>
    </div>
  </div>

  <div class="row background-item">
    <div class="col-md-8 pub">
      <em>Rosauer, D. F., and W. Jetz. 2015. Phylogenetic endemism in terrestrial mammals. Global Ecology and Biogeography 24:168-179.</em>
      <br/>
      <small><a href=" http://onlinelibrary.wiley.com/wol1/doi/10.1111/geb.12237/abstract" title=""> http://onlinelibrary.wiley.com/wol1/doi/10.1111/geb.12237/abstract</a></small>
    </div>
  </div>

  <hr class="section-divider" />

  <h3>Other links:</h3>

  <div class="row background-item">
    <div class="col-md-8">
      <p class="featurette-heading">
        <a href="http://jetzlab.yale.edu" title="Jetz Lab">Jetz Lab</a>
      </p>
    </div>
  </div>

  <div class="row background-item">
    <div class="col-md-8">
      <p class="featurette-heading">
        <a href="http://bgc.yale.edu/" title="Center for Biodiversity and Global Change">Center for Biodiversity and Global Change</a>
      </p>
    </div>
  </div>

  <div class="row background-item">
    <div class="col-md-8">
      <p class="featurette-heading">
        <a href="https://lshirleypollock.wordpress.com/" title="Laura Pollock Research">Laura Pollock Research</a>
      </p>
    </div>
  </div>

  <div class="row background-item">
    <div class="col-md-8">
      <p class="featurette-heading">
        <a href="http://www.will.chez-alice.fr/" title="Dr Wilfried Thuiller">Dr Wilfried Thuiller</a>
      </p>
    </div>
  </div>

  <div class="row background-item">
    <div class="col-md-8">
      <p class="featurette-heading">
        <a href="https://researchers.anu.edu.au/researchers/rosauer-df" title="Dan Rosauer">Dan Rosauer</a>
      </p>
    </div>
  </div>


</div>